<html>
    <p>
    {% if idea.created_by == request.user  %}
        {{ idea.title }}
        <h5>Users Applied : </h5>
        {% for user in applied_users %}
                <div>
                    <p>{{ user.name }}</p>
                    <a href = "{% url 'applicant' idea.id user.userId %}">view</a>
                </div>
        {% endfor %}
    {% else %}
        {{ idea.title }}
        {{ idea.short_description }}
        {{ idea.long_description }}
        {{ created_by.name }}
        {{ idea.created_at }}
        {{ idea.updated_at }}
        {{ idea.id }}
        <a href="{% url 'collab' idea.id %}">COLLAB</a>
    {% endif %}
    </p>
</html>